---
---  

@import "{{ site.theme }}";  
.page-header {
    background-color: #159957 !important;  
    background-size: cover !important;
    padding: 4rem 4rem !important;  
    color: white !important;  
}

/* Hide "View on GitHub" button */
header a[href*="github.com"] {
    display: none !important;
}

footer {
    display: none !important;
}
