---
---  

@import "{{ site.theme }}";  
.page-header {
    background-color: #159957 !important;  
    background-size: cover !important;
    padding: 4rem 4rem !important;  
    color: white !important;  
}

/* Hide "View on GitHub" button */
header a[href*="github.com"] {
    display: none !important;
}

footer {
    display: none !important;
}

.center-button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #159957; /* Cayman theme's green color */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.center-button a:hover {
    background-color: #138a4e; /* Darker green for hover effect */
}
